.navbar{
  font-family: molend;
  background-color:#A4C2A5;
  position: relative;
  margin-bottom: 1rem;
  top: 0;
}

@font-face {
  font-family: cheorcy;
  src: url('./Cheorcy-axmaJ.otf');
}

@font-face {
  font-family: molend;
  src: url('./molendregular-mvd6p.ttf');
}

@font-face {
  font-family: comfortaa;
  src: url('./Comfortaa-VariableFont_wght.ttf');
}
.navbar-brand {
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
    font-family: cheorcy;
    font-size: 2rem;
}
.img {
  height: 10rem;
  width: 9rem;
}
.navimg{
    height:6em;
}
.btn {
  border: solid #566246;
}
.btn:hover {
  background-color: #5c6f43;
  
}
.card{
  margin-bottom: 5em;
  font-family: quicksand;
  font-weight: bolder;
  font-size: larger;
}
.card-img-top{
  height: 80%;
  width: 100%;
}

 @media screen and (max-width: 950px){
    .navbar{
        overflow: scroll;
    }

}
 
.profile{
  position: absolute; 
  right: 5rem;
  top: 0rem;
  font-family: Comfortaa;
  font-size: larger;
  font-style: italic;
}
.icons{
  height: 2rem;
  float: right;
}
.card{
-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
text-overflow: ellipsis;
}
.btn{
  color: #4A4A48;
}
.btn:hover{
  color: #D8DAD3;
}

.item--img:hover{
cursor: zoom-in;
}

.form{
  background-color: #4A4A48;
  color: #F1F2EB;
  width: 50%;
  padding: 2%;
  margin: auto;
  border-radius: 45px 45px 45px 45px ;
  margin-bottom: 10em;
}
.form>.btn{
color: white;
}
body{
  font-family: comfortaa;
  font-weight: lighter;
  overflow-x: hidden;
}

.footer{
  background-color: #4A4A48;
  position:relative;
  bottom: 0px;
}
.accordion-item{
color: black;
}
.accordion-button{
  background-color: #4A4A48;
  color: #F1F2EB;
}
.connect>a{
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}
.connect{
  padding: 1em;
}
.accordion{
  background-color: #566246;
}

.funimg{
height: 110%;
width:100%;
  
}
.carousel-item{
  width: 100%;
}

.carouselsection{
  margin-bottom: 3rem;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 17px;
}





/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .col-25 {
    margin-bottom: 20px;
  }
  .footer{
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  }
}
.payment{
  width: 100%;
}
