{% extends 'main.html' %} {% block content %}
{% load static %}
<main>
  <section class ="carouselsection">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://media.boohoo.com/i/boohooamplience/020823-MELTDOWN-ROTATE-DESK-EN?qlt=default&fmt=auto" alt="" class="funimg">
        </div>
        <div class="carousel-item">
          <img src="{%static 'images/cabernet malec.png'%}" alt="" class="funimg">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
 
  </section>
  {% comment %} <a href="{% url 'all' %}"><button class="btn">Enter Zaggi</button></a> {% endcomment %}
</main>
{% endblock content %}
